body {
    font-family: var(--main-font-family);
    font-size: var(--font-md);
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
    padding: var(--container-y-offset) var(--container-x-offset);
    box-sizing: border-box;
}